# Environnement virtuel
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Base de données locales
*.db
*.sqlite3
*.db.lock

# Configuration sensible
.env

# Logs
*.log
server.err
server.out

# ML models
whisper-provoc-small/
